.Col {
  min-width: 8rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  outline: none;
}

.Col--active {
  border: 0.1rem solid blue;
  background-color: white;
}

.Col--error,
.Col--active.Col--error {
  border: 0.1rem solid red;
  background-color: white;
}

.Col--editing {
  box-shadow: 0rem 0rem 0.5rem 0.5rem #ddd;
}

.Col--header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-weight: bold;
  text-align: center;
}